* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    }

.container{
    width: 80%;
    max-width: 1440px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh
}

.container-about{
    width: 80%;
    max-width: 1440px;
    max-height: 2272px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content-home {
    position: relative;
    min-height: 708px;
}
.content-about {
    position: relative;
    min-height: 708px;
}

.content-about {
    position: relative;
    min-height: 708px;  
}

.content-shop {
    position: relative;
    min-height: 708px;
}

.content-feedback {
    position: relative;
    min-height: 708px;
}

.content-feedback::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 53%;
    height: 95%;
    background-color: #F9A34E;
    z-index: -1;
}

.content-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 51%;
    height: 100%;
    background-color: #F9A34E;
    z-index: -1;
}

.content-shop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 36%;
    height: 4%;
    background-color: #F9A34E;
    z-index: -1;
}

.form-reviews {
    margin: 40px;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    color:#5E3A1B
}

.form-reviews-input {
    padding: 76px 0 0 0;
}

input::placeholder {
    color: #828282;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 12px;
}

.review-author {
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: #5E3A1B;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-right: 100px;
}

#contact-form-reviews {
    display: flex;
    flex-direction: column;
    gap: 16px
}


.reviews-P {
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
    color: #5E3A1B;
    text-align: center;
}

.customers-H {
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color:#5E3A1B;
    text-align: center;
}

.costumers-P {
    font-size: 18px;
    color: #5E3A1B;
    line-height: 1.5;
    font-family: 'Kanit';
    font-weight: 100;
}

.customers-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.review-container {
    display: flex;
    align-items: center;
    background-color: #fdeacc; 
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.review-text {
    display: flex;
    flex-direction: column; 
}

.reviews-H {
    text-align: center;
}

.review-author {
    font-weight: bold;
    font-size: 18px;
    color: #5E3A1B;
    margin-bottom: 10px;
    font-family: 'Kanit';
}

.form-feedback {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 132px
}

.content-about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 53%;
    height: 82%;
    background-color: #F9A34E;
    z-index: -1;
}

.review-text {
    display: flex;
    flex-direction: column;
}

.shop-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
    flex-direction: row;
    margin: 59px 0 43px 0;
}

.example {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: #000;
    text-align: center;
}

.painting {
    font-size:20px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color:#828282;
    text-align: center;
}

.price {
    font-size:20px;
    font-family:'Inter', sans-serif;
    font-weight: bold;
    color:#000;
    text-align: center;
}


.about-text {
    display: flex;
    gap: 15px;
    padding-top: 29px;
}
.about-h {
    font-size: 28px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: #5E3A1B;
    text-align: center;
    padding-left: 108px;
}

.about-p {
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    max-width: 670px;
    text-align: justify;
    position: relative;
    left: 47px;
    top: 39px;
    line-height: 1.9;
}

.about-shadow {
    position: relative;
    font-size: 177px;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    color: #fdf8f4;
    left: 30px;
    top: -212px;
}

.gallery-villa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto; 
    gap: 10px;
    width: 98%;
}
.villa-photo {
    max-width: 596px;
    position: relative;
    left: 101px;
}

.item1 {
    grid-column: span 2;
}

.item2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position: relative;
    top: 7px;
}

.item3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    position: relative;
    top: -175px;
}

.item img {
    height: auto;
    object-fit: cover;
    display: block;
}

.form-section,
.contact-section {
  flex: 1;
}

.form-H {
    color: #5E3A1B;
    text-align: center;
    margin-bottom: 32px;
    font-size: 40px;
    font-family: 'Kanit, sans-serif';
    font-weight: 600;
    position: relative;
    top: -74px;
    z-index: 1;
}

form {
    display: flex    ;
    flex-direction: column;
    gap: 13px;
    margin-left: 58px;
    position: relative;
    top: -62px;
}

label {
    color: #5E3A1B;
    font-size: 20px;
    font-family: 'Kanit';
    font-weight: 500;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 80px;
}

.button-form {
    background-color: #5E3A1B;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Kanit';
}

.contact-H {
    color: #5E3A1B;
    text-align: center;
    margin-bottom: 14px;
    font-size: 40px;
    font-family: 'Kanit, sans-serif';
    font-weight: 600;
    position: relative;
    top: -69px;
}

button:hover {
  background-color: #6f4520;
}

.contact-section-p {
    background-color: #F9A34E;
    color: #5E3A1B;
    padding: 51px 0px;
    text-align: center;
    margin: 16px 29px;
    font-family: 'Kanit, sans-serif';
    font-size: 25px;
    position: relative;
    top: -9px;
}

.form-about {
    display: flex;    ;
    gap: 119px;
    background-color: #fff;
    padding: 54px;
    border-radius: 8px;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    position: relative;
    top: -268px;
}

.map-section {
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    top: -352px;
}

iframe {
    height: 600px;
    margin: 0 0 43px 0
}

.map-section {
  height: auto !important;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-img {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    position: relative;
    top: 337px;
}

.td-text-7 {
    color: #555;
    vertical-align: middle;
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;
    font-family: 'Kanit', sans-serif;
    max-width: 450px;
    max-height: 240px;
    padding-left:15px;
    text-indent: 20px;
}

.td-text-8 {
    color: #555;
    vertical-align: middle;
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;
    font-family: 'Kanit', sans-serif;
    max-width: 450px;
    max-height: 240px;
    padding-right:15px;
    text-indent: 20px;
}

td img {
    height: auto;
    border-radius: 8px;
    padding-top: 15px;
}

.header .logo {
    width: 210px;
    height: 23px;
    padding: 4px 0px 0 21px;
}

nav {
    padding: 0 38px 0 0;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
    margin-right: 30px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.nav a {
    margin-left: 18px;
    text-decoration: none;
    color: #000;
    font-family: 'Inter', sans-serif;
    margin: 0px 15px 0px 0px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 33px 24px 0px 8px;
    font-size: 17px;
    transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
    color:#f9a34e;
}

.hero {
    display: flex;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.hero h1 {
    font-size: 82px;
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    position: absolute;
    width: 1060px;
    height: 123px;
    left: 224px;
    top: 83px;
    color: #5A3210;
    margin-bottom: 20px;
    letter-spacing: 3.4px;
}

.hero p {
    position: absolute;
    left: 553px;
    top: 173px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -1.5px;
    color: #593719;
    font-size: 36px;
    font-weight: 100;
    font-family: 'Kanit', sans-serif;
    margin: 10px 0 20px;
    text-transform: uppercase;
}

.hero .btn {
    position: relative;
    background: #5a3600;
    color: #fff;
    padding: 13px 69px;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s;
    margin-right: 224px;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    top: 180px;
}

.hero .btn:hover {
    background: #402500;
    cursor: pointer;
}

.workshops {
    padding: 40px 20px;
    text-align: center;
    background: #ffffff;
    display: flex;
    padding: 103px 0 0 0;
}

.workshops h2 {
    font-size: 78px;
    color: #faae63;
    position: relative;
    top: 74px;
    letter-spacing: 5px;
    right: -5px;
    z-index: 1;
    text-transform: uppercase;
    font-family: 'Kanit';
}

.workshops-p {
    position: relative;
    font-size: 177px;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    color: #fdf8f4;
    top: -122px;
    left: 30px;
}


.workshops .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

table {
    position: relative;
    top: -532px;
    left: 98px;
    margin: 0 auto;
}

.gallery-container {
    width: 100%;
    display: flex;
    position: relative;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    top: 218px;
    left: 33px;
    padding: 20px;
}

.gallery {
    display: flex;
    position: relative;
}

.gallery img {
    object-fit: cover;
    transition: transform 0.3s ease, z-index 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
}

.gallery .img-01 {
    position: relative;
    width: 200px;
    height: 341px;
    left: 1px;
    top: 13px;
    border-top: 2px solid #ffffff;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
}

.gallery .img-02 {
    position: relative;
    width: 299px;
    height: 388px;
    left: -15px;
    top: -10px;
    border-top: 2px solid #ffffff;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
}

.gallery .img-03 {
    width: 308px;
    height: 370px;
    position: relative;
    left: -33px;
}

.gallery .img-04 {
    width: 241px;
    height: 392px;
    position: relative;
    top: -9px;
    right: 10px;
    z-index: 3;
    border-top: 2px solid #ffffff;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
}

.gallery .img-05 {
    width: 192px;
    height: 343px;
    position: relative;
    right: 45px;
    top: 12px;
    border-top: 2px solid #ffffff;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
}

.gallery img.active {
    transform: scale(1.2);
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.gallery img:hover {
    transform: scale(1.2);
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, z-index 0s, box-shadow 0.3s ease;
}


.gallery img.active:hover {
    transform: scale(1.2);
}

.btn {
    position: relative;
    background: #5a3600;
    color: #fff;
    padding: 13px 69px;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s;
    margin-left: 78px;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    left: 93px;
    top: -30px;
}

.btn:hover {
    background: #402500;
    cursor: pointer;
}

.btn-layout {
    position: relative;
    background: #5a3600;
    color: #fff;
    padding: 10px 69px;
    border-radius: 10px;
    transition: background 0.3s;
    margin-left: 78px;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    left: 588px;
    top: 174px;
    cursor: pointer;
    align-items: center;
    text-align: center; 
    margin-bottom: 160px;
}

.shop-H {
    font-size:35px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color:#5E3A1B;
    text-align: center;
    padding: 50px 0 0 0;
}

.shop-P {
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
    color:#593719;
    text-align: center;
}

.buy-button {
    position: relative;
    background: #5a3600;
    color: #fff;
    padding: 7px 58px;
    border-radius: 10px;
    transition: background 0.3s;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    align-items: center;
    left: 118px;
    top: 10px;
}

#basket-counter{
    position: relative;
    top: -19px;
    right: 57px;
    color: #361E0A;
    font-weight: 800;
    font-family: 'Kanit';
    text-align: center;
}

.shop-basket {
    width:35px;
    height: 35px;
}

.btn-layout:hover {
    background: #402500;
    cursor: pointer;
}

.handmade h2 {
    top: -168px;
    font-size: 78px;
    color: #faae63;
    position: relative;
    letter-spacing: 5px;
    z-index: 5;
    text-transform: uppercase;
    font-family: 'Kanit';
    text-align: center;
    position: relative;
}

.handmade-p {
    position: relative;
    font-size: 177px;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    color: #fdf8f4;
    top: -329px;
    left: 30px;
} 

.cross-layout {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    bottom: 393px;
    right: -273px;
}

.layout-text {
    position: relative;
    top: 369px;
    left: 0px;
    font-size: 20px;
    font-family: 'Kanit';
    color: #5e3a1a;
    font-weight: 800;
    text-shadow: 9 0 black;
    text-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);
    text-align: center;
}
  
.cross-layout-2 {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    bottom: 393px;
    left: 403px;
 }

.cross-layout-3 {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    top: 56px;
    left: -381px;
}

.cross-layout-4 {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    top: 51px;
    right: 237px;
}

.layout-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
margin: 0 0 43px 0;
}

.image-container {
    position: absolute;
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease, z-index 0.3s ease, filter 0.3s ease;
    z-index: 1;
}
  
.image-container.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.image-container.top {
    top: 0;
    left: 49%;
    width: 164px;
    height: 204px;
    transform: translateX(-50%);
}
  
.image-container.bottom {
    bottom: 60px;
    left: 50%;
    top: 160px;
    transform: translateX(-50%);
    z-index: 3;
    width: 169px;
    height: 208px;
    border-radius: 3px;
  }

.image-container.left {
    top: 50%;
    left: 152px;
    transform: translateY(-50%);
    width: 140px;
    height: 175px;
    border-radius: 3px;
  }
  
.image-container.right {
    top: 50%;
    right: 178px;
    transform: translateY(-50%);
    width: 140px;
    height: 175px;
    border-radius: 3px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}
  
.image-container:hover {
    z-index: 10; /* Выдвигаем изображение вперед */
    transform: scale(1.2) translate(-50%, -50%);
}
  
.image-container img:hover {
    filter: brightness(1.3);
}

.footer {
    margin: 10px 0 10px 0;
    padding: 0px 0 0px 0;
    top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    gap: 250px;
    background-color: #f9a34e;
}
  
.footer-adrese-text {
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    color: #454545;
    text-align: left;
    padding-left: 20px;
}


a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
}

i {
    margin-right: 8px;
}

a:hover {
    background: #402500;
    cursor: pointer;
    color:#f9a34e;
}

.links {
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color: #454545;
    font-weight: 300;
    text-align: center;
    display: flex;
}

.contact {
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color: #454545;
    font-weight: 300;
    text-align: left;
}

.info {
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color: #454545;
    font-weight: 300;
    text-align: center;
}

.logo-footer {
    width: 215px;
    padding-left: 7px;
}

.content-booking {
    position: relative;
    min-height: 708px;
    margin-bottom: 111px;
}

.content-booking::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 110%;
    background-color: #F9A34E;
    z-index: -1;
}

input::placeholder {
    color: #828282;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 12px;
}

.form-calendar-section {
    display: flex;
    gap: 5svi;
    padding-top: 29px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.booking-workshop {
width: 50%;
}

form#booking-form {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-left: 6svi;
    position: relative;
    top: 0px;
}

input#calendar {
    color: #828282;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 12px;
    width: 100%;
    padding: 10px;
    border: 1px solid #828282;
    border-radius: 4px;
    margin: 0 0 10px 0;
} 

.workshop-choice {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    gap: 10px;
}

.first-image-book,
.second-image-book {
    width: 50%;

}
.booking-image{
    width: 100%;
}

form input[type="radio"]{
    width: 10px;
} 

.calendar-frame {
    margin-right: 2svi;
}
